body {
  background-color: #f0f0f0;
  color: #333333;
}

h1 {
  color: #333333;
}

.container {
  padding-top: 4%;
}

/*landscape phone*/
@media screen and (max-width: 700px) {
  .wrap {
    margin-left: 2%;
    margin-right: 2%;
  }
}
.container {
  background-color: #ffffff;
  border: 1px solid #e0e1db;
}

.bgGray {
  background-color: #E8E8E8;
  margin: 5px 0px;
  padding: 5px 0px;
  border: 1px solid #e0e1db;
}
