/*Kraken by @ivan_cduran (ivancduran.com)*/
/*Toast by @_dte (daneden.me) modified by @ivan_cduran (ivancduran.com)*/
/*Responsive slides by @viljamis (responsive-slides.viljamis.com) modified by @ivan_cduran (ivancduran.com)*/
@import url('reset.css');
@import url('grid.css');
@import url('style.css');
@import url('responsiveslides.css');
@import url('menu.css');
@import url('buttons.css');
@import url('font.css');