#menu {
  background: #141414;
/*  background: -moz-linear-gradient(top, #32323a 0%, #141414 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #32323a), color-stop(100%, #141414));
  background: -webkit-linear-gradient(top, #32323a 0%, #141414 100%);
  background: -o-linear-gradient(top, #32323a 0%, #141414 100%);
  background: -ms-linear-gradient(top, #32323a 0%, #141414 100%);
  background: linear-gradient(to bottom, #32323a 0%, #141414 100%);*/
  /*border-bottom: 2px solid #0fa1e0;*/
  position: fixed;
  z-index: 9;
  width: 100%;
}

/* nav */
.nav {
  position: relative;
  margin: 0px 0;
  padding-top: 10px;
  z-index: 999;
}
.nav ul {
  margin: 0;
  padding: 0;
}
.nav li {
  margin: 0 5px 10px 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}
.nav a {
  padding: 5px 15px;
  text-decoration: none;
  color: #999;
  line-height: 100%;
}
.nav a:hover {
  color: #000;
    background: #999;
  color: #fff;
  border-radius: 5px;
}
.nav .current a {
  /*background: #999;*/
  color: #fff;
  border-radius: 5px;

   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cacaca), to(#848484));
   background-image: -moz-linear-gradient(top, #cacaca, #848484);

   box-shadow: inset 0 0 10px #000;
     -moz-box-shadow: inset 0 0 10px #000;
     -webkit-box-shadow: inset 0 0 10px #000;
}

/* left nav */
.nav.left ul {
  text-align: left;
  /*padding-left: 25px;*/
}

/* right nav */
.nav.right ul {
  text-align: right;
}

/* center nav */
.nav.center ul {
  text-align: center;
}

/*Sub Menu */

.nav li ul {
  position:absolute;
  visibility: hidden;
  text-align: center;
  display: block;
  /*border-top:3px solid #3c3c3c; border-bottom:3px solid #3c3c3c;*/
  /*margin: 0px 0 0 0;*/
  /*padding:0;*/
  /*background-color: #141414;*/
}

.nav li ul li {
  display:block;
  float:none;
  margin: 0px;
}

.nav li ul li a:link, .nav li ul li a:visited {
  background-color:#141414;
  width: 72%;
  display: table;
}

.nav li ul li a:hover{
  background-color: #32323a;
  border-radius: 0px;
}



@media screen and (max-width: 700px) {

  #menu {
    border-top: solid 1px #aaa;
    background: url('../img/bgBorde.png') repeat-x;
    background-position: 0px 0px;
    background-size:80px 60px;
  }

  .nav {
    position: relative;
    min-height: 35px;
  } 
  .nav ul {
    margin-top: -1px;
    width: 180px;
    padding: 5px 0;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff url('../img/icon-menu.png') no-repeat 10px 11px;
    border: solid 0px #aaa;
    box-shadow: 0 1px 2px rgba(0,0,0,.3);
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .nav li {
    display: none; /* hide all <li> items */
    margin: 0;
  }
  .nav .current {
    display: block; /* show only current <li> item */
  }
  .nav a {
    display: block;
    padding: 5px 5px 5px 32px;
    text-align: left;
  }
  .nav .current a {
    background: none;
    color: #666;
  }

  /* on nav hover */
  .nav ul:hover {
    background-image: none;
  }
/*  .nav ul:hover li {
    display: block;
    margin: 0 0 5px;
  }*/
/*  .click {
    display: block;
    margin: 0 0 5px;
  }*/
  .nav ul:hover .current {
    background: url('../img/icon-check.png') no-repeat 10px 7px;
  }

  /* right nav */
  .nav.right ul {
    left: auto;
    right: 0;
  }

  /* center nav */
  .nav.center ul {
    left: 50%;
    margin-left: -90px;
  }


  /*Sub Menu*/
  .nav li ul {
    position:relative;
    visibility: visible;
    text-align: center;
    border-top: 1px solid #c3c3c3; border-bottom: 1px solid #c3c3c3;
    background-color: #ccc;
  }

  .nav li ul li {
    display:block;
    float:none;
      margin: 0px;
  }

  .nav li ul li a {
    padding-left: 45px;
  }

  .nav li ul a:hover {
    width: 100%;
    border-radius: 0px;
  }

  .nav li ul li a:link, .nav li ul li a:visited {     background-color:#ccc;
}

  .nav li ul li a:hover {
    background-color: #32323a;
  }

  .nav li ul li:hover {
    background-color: #32323a;
  }



  
}