input{
	border: 2px solid #ccc;
	background: url("../img/input_bg.png") no-repeat scroll 0 0 transparent;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding-left: 5px;
}

input{
	border: 2px solid #ccc;
	background: url("../img/input_bg.png") no-repeat scroll 0 0 transparent;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding-left: 5px;
}

textarea{
	border: 2px solid #ccc;
	background: url("../img/input_bg.png") no-repeat scroll 0 0 transparent;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding-left: 5px;
}

hr{
	border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.wrap{
 	background-color: #FAF9F7;
}

.wL{
	max-width: 960px;
	padding: -10px;
	margin: 0 auto;
	background-color: #CCCCCC;
}

.wN{
	max-width: 960px;
	padding: 0px;
	margin: 0 auto;
	background-color: #CCCCCC;
}

.logoL{
	margin: 5px;
}

.logoR{
	float:right;
}

.shadowWrap{
	-webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, .1);
	box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, .1);
}

.mL{
	margin-left: 25px;
}

.arrowL{
	left: 0;
	width: 0;
	height: 0;
	line-height: 0;
	border-left: 14px solid transparent;
	border-top: 15px solid black;
	position: absolute;
}

.arrowR{
	right: 0;
	width: 0;
	height: 0;
	line-height: 0;
	border-right: 14px solid transparent;
	border-top: 15px solid black;
	position: absolute;
}

.circle{
	width: 300px;
	height: 300px;
    border:1px solid #ccc;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.bgGray{
	background-color: #E8E8E8;
	border-radius: 8px;
	margin: 5px 0px 5px 0px;
	padding: 5px 0px 5px 0px;
	border: 4px solid #fff;
}

.center{
 	margin: 0 auto;
	display: block;
	text-align: center;
}


.box{
    margin: 0px;
    padding: 25px;
    background-color: #E8E8E8;
    box-shadow: 1px 1px 30px rgba(50, 50, 50, 0.1);
    border-radius:5px;
}

.inset{
	-moz-box-shadow:inset 1px 1px 17px #6e6d6e;
	-webkit-box-shadow:inset 1px 1px 17px #6e6d6e;
	box-shadow:inset 1px 1px 17px #6e6d6e;
}

.shadow{
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
}

.Back{
	background-color: black;
}

.sMsection, .pointer{
	cursor: pointer;
}

.r_sociales{
	height:24px;
	width:24px;
	margin: 0px;
}

.font-copyright{
	font-size: 12px; 
	margin-top:15px;
	color: #02a2e9;
	text-align: center;
}

.footer{
	margin: 0px;
	padding: 25px;
	box-shadow: 1px 1px 30px rgba(50, 50, 50, 0.1);
	border-radius:5px;
	color: #fff;
	background: #141414;
	background: -moz-linear-gradient(top, #32323a 0%, #141414 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #32323a), color-stop(100%, #141414));
	background: -webkit-linear-gradient(top, #32323a 0%, #141414 100%);
	background: -o-linear-gradient(top, #32323a 0%, #141414 100%);
	background: -ms-linear-gradient(top, #32323a 0%, #141414 100%);
	background: linear-gradient(to bottom, #32323a 0%, #141414 100%);
}

.footer a:link {text-decoration:none; color:#FFF;}
.footer a:visited {text-decoration:none; color:#FFF;}
.footer a:hover {text-decoration:none; color:#FFF;}
.footer a:active {text-decoration:none; color:#FFF;}


.W{
/*  -webkit-transform: translate(2em,0);
   -webkit-transform: rotate(2deg);*/
animation:AnimPhoto 1s;
-moz-animation:AnimPhoto  1s;
-webkit-animation:AnimPhoto  1s;
-o-animation:AnimPhoto  1s;
width:100%;
}


@-webkit-keyframes AnimPhoto
{
0%   {width:0%;}
100%  {width:100%;}

}



.test{
position:relative;
animation:myfirst 5s;
-moz-animation:myfirst 5s; /* Firefox */
-webkit-animation:myfirst 5s; /* Safari and Chrome */
-o-animation:myfirst 5s; /* Opera */
}

@keyframes myfirst
{
0%   {left:0px; top:0px;}
25%  {left:200px; top:0px;}
50%  {left:200px; top:200px;}
75%  {left:0px; top:200px;}
100% {left:0px; top:0px;}
}

@-moz-keyframes myfirst /* Firefox */
{
0%   {left:0px; top:0px;}
25%  {left:200px; top:0px;}
50%  {left:200px; top:200px;}
75%  {left:0px; top:200px;}
100% {left:0px; top:0px;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
0%   {left:0px; top:0px;-webkit-transform: rotate(0deg);}
25%  {left:400px; top:0px;-webkit-transform: rotate(180deg);}
50%  {left:0px; top:0px;-webkit-transform: rotate(0deg);}
75%  {left:0px; top:0px;-webkit-transform: rotate(-360deg);}
100% {left:0px; top:0px;-webkit-transform: rotate(360deg);}
}

@-o-keyframes myfirst /* Opera */
{
0%   {left:0px; top:0px;}
25%  {left:200px; top:0px;}
50%  {left:200px; top:200px;}
75%  {left:0px; top:200px;}
100% {left:0px; top:0px;}
}


/*********************************MEDIA*********************************/

/*landscape phone*/
@media screen and (max-width: 320px) {

.circle{
	width: 100px;
	height: 100px;
}

html{
	background-color: black;
}

}

/*normal phone*/
@media screen and (min-width: 320px) and (max-width: 480px)  {
.circle{
	width: 200px;
	height: 200px;
}
html{
	background-color: red;
}

}

/*large phone and tablets*/
@media screen and (min-width: 480px) and (max-width: 767px) {
.circle{
	width: 300px;
	height: 300px;
}

html{
	background-color: black;
}




}

/*ipad*/
@media screen and (min-width: 767px) and (max-width: 1024px) {

.circle{
	width: 400px;
	height: 400px;
}

html{
	background-color: red;
}

}