/*fix wrap*/
html, body {
    height: auto;
	min-height: 100%;
	height: 100%;
}

nav, li, img, .progress > span {
	/*  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;*/
	-webkit-transition: all .5s cubic-bezier(0.500, 0.885, 0.32, 1.1);
	-moz-transition: all .5s cubic-bezier(0.500, 0.885, 0.32, 1.1);
	transition: all .5s cubic-bezier(0.500, 0.885, 0.32, 1.1);
}

input[type=text], textarea{
	border: 1px solid #aaaaaa;
	/*background: url("../img/input_bg.png") no-repeat scroll 0 0 transparent;*/
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding-left: 5px;
	-moz-box-shadow:inset 0px 0px 15px #c9c9c9;
	-webkit-box-shadow:inset 0px 0px 15px #c9c9c9;
	box-shadow:inset 0px 0px 15px #c9c9c9;
}

hr{
	border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

footer {
	position: fixed;
	margin: 0px;
	padding: 0px;
	text-align: left;
	color: #FFF;
	font-size: 12px;
	width: 100%;
	height: 280px;
	// line-height: 10px;
	// clear: both;
	z-index: -20;
	bottom: 0px;
	left: 0px;
}

.wrap{
 	background-color: #FAF9F7;
  	-webkit-transition: all .2s cubic-bezier(0.500, 0.885, 0.32, 1.1);
	-moz-transition: all .2s cubic-bezier(0.500, 0.885, 0.32, 1.1);
	transition: all .2s cubic-bezier(0.500, 0.885, 0.32, 1.1);
}

.wL{
	max-width: 960px;
	padding: -10px;
	margin: 0 auto;
	background-color: #CCCCCC;
}

.wN{
	max-width: 960px;
	padding: 0px;
	margin: 0 auto;
	background-color: #CCCCCC;
}

.logoL{
	margin: 5px;
}

.logoR{
	float:right;
}

.shadowWrap{
	-webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, .1);
	box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, .1);
}

.mL{
	margin-left: 4%;
}

.headImg{
	background: url("../img/bg/012.png") repeat 100% 100%;
}

.arrowL{
	left: 0;
	width: 0;
	height: 0;
	line-height: 0;
	border-left: 14px solid transparent;
	border-top: 15px solid black;
	position: absolute;
}

.arrowR{
	right: 0;
	width: 0;
	height: 0;
	line-height: 0;
	border-right: 14px solid transparent;
	border-top: 15px solid black;
	position: absolute;
}

.circle{
	width: 300px;
	height: 300px;
    border:1px solid #ccc;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.bgGray{
	background-color: #E8E8E8;
	border-radius: 8px;
	margin: 5px 0px 5px 0px;
	padding: 5px 0px 5px 0px;
	border: 4px solid #fff;
}

.center{
 	margin: 0 auto;
	display: block;
	text-align: center;
}

.box{
    margin: 0px;
    padding: 25px;
    background-color: #E8E8E8;
    box-shadow: 1px 1px 30px rgba(50, 50, 50, 0.1);
    border-radius:5px;
}

.inset{
	-moz-box-shadow:inset 1px 1px 17px #6e6d6e;
	-webkit-box-shadow:inset 1px 1px 17px #6e6d6e;
	box-shadow:inset 1px 1px 17px #6e6d6e;
}

.solid{
	border: 1px solid #CCC;
	background-color: #dcdcdc;
	background: -moz-linear-gradient(
		top,
		#e1e1e1 0%,
		#d5d5d5);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#e1e1e1),
		to(#d5d5d5));
}

.shadow{
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
}

.Back{
	background-color: black;
}

.pointer{
	cursor: pointer;
}

.footer_union{
	// margin-top: -25px;
}

.clearfix:after {
   content: ".";
   display: block;
   clear: both;
   visibility: hidden;
   line-height: 0;
   height: 0;
}
 
.clearfix {
   // display: inline-block;
}

.footer{
	background: #333;
	padding-top:10px;
}

.footer a :link {text-decoration:none !important;}
.footer a :visited {text-decoration:none !important;}
.footer a :hover {text-decoration:none !important;}
.footer a :active {text-decoration:none !important;}

.footer ul li {
	list-style-type: none;
}

.menuBack{
	width: 100%;
	height: 100%;
	background-color: #333;
	position: fixed;
	bottom: 0;
	z-index: 7;
	opacity: 0;
	display: none;
	zoom: 2;
}

.background-top{
	margin: 0px;
	padding: 25px;
	border-radius:5px;
	color: #fff;
	background: #333;
	height: 50%;
	width: 96%;
	position: absolute;
	z-index: -20;
	top: 0px;
	opacity: .2;

	-moz-box-shadow: 0px 0px 18px #333;
	-webkit-box-shadow: 0px 0px 18px #333;
	box-shadow: 0px 0px 18px #333;
}

.bottom-bar {
	background: #141414;
	/*border-bottom: 2px solid #0fa1e0;*/
	position: fixed;
	z-index: 9;
	width: 100%;
	height: 30px;
	bottom: 0px;
	padding-top: 10px;
}


.break-a{
	width: 413px;
	height: 21px;
	background: url("../img/break-a.png") no-repeat;
	margin: 0 auto;
}

.break-b{
	width: 413px;
	height: 21px;
	background: url("../img/break-b.png") no-repeat;
	margin: 0 auto;
}

/*********************************MEDIA*********************************/

/*landscape phone*/
@media screen and (max-width: 320px) {

	.circle{
		width: 100px;
		height: 100px;
	}

}

/*normal phone*/
@media screen and (min-width: 320px) and (max-width: 480px)  {

	.circle{
		width: 200px;
		height: 200px;
	}

}

/*large phone and tablets*/
@media screen and (min-width: 480px) and (max-width: 767px) {

	.circle{
		width: 300px;
		height: 300px;
	}

}

/*ipad*/
@media screen and (min-width: 767px) and (max-width: 1024px) {

	.circle{
		width: 400px;
		height: 400px;
	}

}
