@import '_mixins';
@import '_colors';

@-webkit-keyframes spin {
  100% { -webkit-transform: rotate(359deg); }
}

@-moz-keyframes spin {
  100% { -moz-transform: rotate(359deg); }
}

@-o-keyframes spin {
  100% { -moz-transform: rotate(359deg); }
}

@keyframes spin {
  100% {  transform: rotate(359deg); }
}

@-webkit-keyframes shake {
	0%, 100% {-webkit-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}

@-moz-keyframes shake {
	0%, 100% {-moz-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-moz-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-moz-transform: translateX(10px);}
}

@-o-keyframes shake {
	0%, 100% {-o-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-o-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-o-transform: translateX(10px);}
}

@keyframes shake {
	0%, 100% {
		transform: translateX(0);
	}
	10%, 30%, 50%, 70%, 90% {
		transform: translateX(-10px);
	}
	20%, 40%, 60%, 80% {
		transform: translateX(10px);
	}
}

@-moz-keyframes bounceOut {
        0%{ box-shadow: 0 0 0 4px $Anim_Color1; opacity:1;}
        25%{ box-shadow: 0 0 0 1px $Anim_Color1; opacity:1;}
        50%{ box-shadow: 0 0 0 7px $Anim_Color1; opacity:1; }
        75%{ box-shadow: 0 0 0 4px $Anim_Color1; opacity:1;}
        100%{ box-shadow: 0 0 0 5px $Anim_Color1; opacity:1;}
}

@-webkit-keyframes bounceOut {
        0%{ box-shadow: 0 0 0 4px $Anim_Color1; opacity:1;}
        25%{ box-shadow: 0 0 0 1px $Anim_Color1; opacity:1;}
        50%{ box-shadow: 0 0 0 7px $Anim_Color1; opacity:1; }
        75%{ box-shadow: 0 0 0 4px $Anim_Color1; opacity:1;}
        100%{ box-shadow: 0 0 0 5px $Anim_Color1; opacity:1;}
}

.animated{
	@include vendorize(animation-fill-mode,both);
	@include vendorize(animation-duration,1s);
}

.animated.hinge{
	@include vendorize(animation-duration,1s);
}

.shake {
	@include vendorize(animation-name,shake);
	border: 1px solid red !important;
}

.sken{
	@include vendorize(transform,skew(180deg, 90deg));
}

.scale{
	@include vendorize(transform,scale(3));
}

.rotate{
	@include vendorize(transform,rotateX(360deg) rotateY(320deg) rotateZ(1080deg));
}

.loading {
  display: inline-block;
  margin: 5em;
  border-width: 30px;
  border-radius: 50%;
  @include vendorize(animation,spin 1s linear infinite);
  border-style: double;
  border-color: $Anim_Color1 transparent;
}

.animbubble{
	@include vendorize(transition, all 1s cubic-bezier(.10, .10, .25, .90));
	@include vendorize(transform, scale(1.3));
}

.circle {
  padding: 10px;

  img.user {
    background-color: $Anim_Color1 ;
    box-shadow: 0 0 0 3px $Anim_Color1 ;
    border-radius: 50%;

     &:hover {
      cursor: pointer; 
      -moz-animation:bounceOut .5s linear;
      -webkit-animation:bounceOut .5s linear;
      // @include vendorize(transform,scale(1));
    }
  
  }

}

.focus{
    // background-color: $Anim_Color1 ;

     &:hover {
	  box-shadow: 0 0 8px 1px $Anim_Color1 ;
      cursor: pointer; 
      -moz-animation:bounceOut .4s linear;
      -webkit-animation:bounceOut .4s linear;
    }
}
