// Custom
body {
  // background: url("../img/noise.png");
  background-color: #f0f0f0;
}

.wrap { 
  margin-top: 4%;
}
/*landscape phone*/
@media screen and (max-width: 700px) {
  .wrap {
    margin-left: 2%;
    margin-right: 2%;
  }
}

.container {
  // background: url("../img/bg-uniform.png");
  background-color: #ffffff;
  border: 1px solid #e0e1db;
}

.bgGray {
  background-color: #E8E8E8;
  margin: 5px 0px 5px 0px;
  padding: 5px 0px 5px 0px;
  border: 1px solid #e0e1db;
}