/*Font Face*/
@import '_colors';

$size1   : 3em;
$line1   : 1em;
$margin1 : .5em;

$size2   : 2.25em;
$line2   : 1.333333333333333em;
$margin2 : .6666666666666667em;

$size3   : 1.5em;
$line3   : 1em;
$margin3 : 1em;

$size4   : 1.3125em;
$line4   : 1.142857142857143em;
$margin4 : 1.142857142857143em;

$size5   : 1.125em;
$line5   : 1.333333333333333em;
$margin5 : 1.333333333333333em;

$size6   : 1em;
$line6   : 1.5em;
$margin6 : 1.5em;

$margin7 : 1.5em;

$color1 : #333;
$color2 : #02A2E9;

@font-face {
    font-family: 'Lato';
    src: url("fonts/Lato.woff") format('woff');
}

/*DOM Elements*/
body {
	font: 100%/1.5 'Lato','Helvetica Neue', sans-serif;
    color : $color1;
}

h1, .size-1 {
    font-size: $size1; /* 48 / 16 */
    line-height: $line1; /* 48 / 48 */
    margin-bottom: $margin1; /* 24 / 48 */
}
h2, .size-2 {
    font-size: $size2; /* 36 / 16 */
    line-height: $line2; /* 48 / 36 */
    margin-bottom: $margin2; /* 24 / 36 */
    color: $palette_1_3;
}
h3, .size-3 {
    font-size: $size3; /* 24 / 16 */
    line-height: $line3; /* 24 / 24 */
    margin-bottom: $margin3; /* 24 / 24 */
}
h4, .size-4 {
    font-size: $size4; /* 21 / 16 */
    line-height: $line4; /* 24 / 21 */
    margin-bottom: $margin4; /* 24 / 21 */
}
h5, .size-5 {
    font-size: $size5; /* 18 / 16 */
    line-height: $line5; /* 24 / 18 */
    margin-bottom: $margin5; /* 24 / 18 */
}
h6, .size-6 {
    font-size: $size6; /* 16 / 16 */
    line-height: $line6; /* 24 / 16 */
    margin-bottom: $margin6; /* 24 / 16 */
}
p, ul, ol, dl, blockquote {
    margin-bottom: $margin7; /* 24 / 16 */
}