@import '_mixins';
@import '_colors';

#menu {
  top: 0;
  position: fixed;
  z-index: 9;
  width: 100%;
}

.menuMove{
  background-color: $Menu_BG;
  @include vendorize(transition,background-color 1s ease-in-out);
}

.menuTop{
  // border-bottom: 2px solid #0fa1e0;
  // background: url('../img/nav-bg.png') 48% 85% no-repeat;
  background-color: $Menu_BG;
}

/* nav */
.nav {
  position: relative;
  margin: 0px 0;
  padding-top: 10px;
  z-index: 999;
}
.nav ul {
  margin: 0;
  padding: 0;
}
.nav li {
  margin: 0 5px 10px 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}
.nav a {
  padding: 5px 15px;
  text-decoration: none;
  color: #999;
  line-height: 100%;
  // @include vendorize(transition,.3s);
}
.nav a:hover{
  color: #000;
  background: #999;
  color: #fff;
  border-radius: 5px;
}

ul li:hover ul{
  display: block;
  opacity: 1;
  visibility: visible;
}

.nav .current a {
  /*background: #999;*/
  color: #fff;
  border-radius: 5px;
  background: $palette_1_3;
  // @include vendorize(box-shadow, inset 0px 15px 84px -5px $palette_2_3);
}

/* left nav */
.nav.left ul {
  text-align: left;
  /*padding-left: 25px;*/
}

/* right nav */
.nav.right ul {
  text-align: right;
}

/* center nav */
.nav.center ul {
  text-align: center;
}

/*Sub Menu */

.nav li ul {
  position:absolute;
  visibility: hidden;
  text-align: center;
  display: block;
}

.nav li ul li {
  display:block;
  float:none;
  margin: 0px;
}

.nav li ul li a{
  // border:1px solid red;
  background-color:#141414;
  width: 72%;
  display: table;

}

.nav li ul li a:link, .nav li ul li a:visited {
  background-color:#141414;
  width: 72%;
  display: table;
}

.nav li ul li a:hover{
  background-color: $Menu_Hover;
  border-radius: 0px;
}



@media screen and (max-width: 700px) {

  #menu {
    border-top: solid 1px #aaa;
    background: url('../img/bgBorde.png') repeat-x;
    background-position: 0px 0px;
    background-size:80px 60px;
  }

  .nav {
    position: relative;
    min-height: 35px;
  } 
  .nav ul {
    margin-top: -1px;
    width: 180px;
    padding: 5px 0;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff url('../img/icon-menu.png') no-repeat 10px 11px;
    border: solid 0px #aaa;
    box-shadow: 0 1px 2px rgba(0,0,0,.3);

    @include vendorize(border-bottom-right-radius,5px);
    @include vendorize(border-bottom-left-radius,5px);
    
  }
  .nav li {
    display: none; /* hide all <li> items */
    margin: 0;
  }
  .nav .current {
    display: block; /* show only current <li> item */
  }
  .nav a {
    display: block;
    padding: 5px 5px 5px 32px;
    text-align: left;
  }
  .nav .current a {
    background: none;
    color: #666;
  }

  /* on nav hover */
  .nav ul:hover {
    background-image: none;
  }
/*  .nav ul:hover li {
    display: block;
    margin: 0 0 5px;
  }*/
/*  .click {
    display: block;
    margin: 0 0 5px;
  }*/
  .nav ul:hover .current {
    background: url('../img/icon-check.png') no-repeat 10px 7px;
  }

  /* right nav */
  .nav.right ul {
    left: auto;
    right: 0;
  }

  /* center nav */
  .nav.center ul {
    left: 50%;
    margin-left: -90px;
  }


  /*Sub Menu*/
  .nav li ul {
    position:relative;
    visibility: visible;
    text-align: center;
    border-top: 1px solid #c3c3c3; border-bottom: 1px solid #c3c3c3;
    background-color: #ccc;
  }

  .nav li ul li {
    display:block;
    float:none;
      margin: 0px;
  }

  .nav li ul li a {
    padding-left: 45px;
  }

  .nav li ul a:hover {
    width: 100%;
    border-radius: 0px;
  }

  .nav li ul li a:link, .nav li ul li a:visited {     background-color:#ccc;
}

  .nav li ul li a:hover {
    background-color: #32323a;
  }

  .nav li ul li:hover {
    background-color: #32323a;
  }



  
}