@import '_colors';

.progress {
  height: 20px;
  background: $Style_Box;
  border-radius: 0;
}
.progress > span {
  position: relative;
  float: left;
  margin: 0 -1px;
  min-width: 30px;
  height: 3px;
  line-height: 20px;
  text-align: right;
  background: $palette_3_5;
  border: 0; 
}
.progress > span > span {
  padding: 0 8px;
  // font-size: 15px;
  font-weight: bold;
  color: #404040;
  color: rgba(0, 0, 0, 0.7);
  text-shadow: 0 1px rgba(255, 255, 255, 0.4);
}
.progress > span:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 18px;
  background: url("../img/progress.png") 0 0 repeat-x;
  border-radius: 10px;
}
.progress .green {
  background: $palette_2_2;
  // background: #85c440;
  border-color: #78b337 #6ba031 #568128;
}
.progress .red {
  background: $palette_4_3;
  // background: #db3a27;
  border-color: #c73321 #b12d1e #8e2418;
}
.progress .orange {
  background: $palette_3_2;
  // background: #f2b63c;
  border-color: #f0ad24 #eba310 #c5880d;
}
.progress .blue {
  background: $palette_2_3;
  // background: #5aaadb;
  border-color: #459fd6 #3094d2 #277db2;
}
