@import '_mixins';
@import '_colors';

html, body {
    height: auto;
	min-height: 100%;
	height: 100%;

}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none;}
a:active {text-decoration:none;}

nav, li, img, .progress > span {
	@include vendorize(transition,all .5s cubic-bezier(0.500, 0.885, 0.32, 1.1));
}


input, textarea {
	outline: none;
	border: 1px solid #aaaaaa;
	// @include vendorize(box-shadow,none);
	@include vendorize(border-radius,3px);
	&:focus{
		box-shadow: 0 0 3px 1px $palette_1_3 ;
		border: 1px solid $palette_2_3;
	}
}


hr{
	border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

footer {
	position: fixed;
	margin: 0px;
	padding: 0px;
	text-align: left;
	color: #FFF;
	font-size: 12px;
	width: 100%;
	height: 280px;
	z-index: -20;
	bottom: 0px;
	left: 0px;
}

.input{
	border: 1px solid #aaaaaa;
	padding-left: 5px;
	@include vendorize(border-radius,3px);
	@include vendorize(box-shadow,inset 0px 0px 15px #c9c9c9);
}

.shadowWrap{
	// -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, .1);
	// box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, .1);
}

.arrowL{
	left: 0;
	width: 0;
	height: 0;
	line-height: 0;
	border-left: 14px solid transparent;
	border-top: 15px solid black;
	position: absolute;
}

.arrowR{
	right: 0;
	width: 0;
	height: 0;
	line-height: 0;
	border-right: 14px solid transparent;
	border-top: 15px solid black;
	position: absolute;
}

.center{
 	margin: 0 auto;
	display: block;
	text-align: center;
}

.info-box{
	border-radius: 4px;
	background-color: #fafafa;
    margin: 0px;
	& > .info-title{
		margin-left:2%;
		font-size:1.3em;
	}
	& > .info-text{
		margin : 15px;
	}
}

.box{
	border-radius: 4px;
	background-color: #fafafa;
    margin: 0px;
    padding: 25px;
}

.inset{
	@include vendorize(box-shadow,inset 1px 1px 17px #6e6d6e);
}

.solid{
	background: #fafafa;
	color: #373737;
	border: 1px solid #c1ccd4;
}

$space : 35;
.span{
	@for $i from 1 through 12 {
		&[value="#{$i}"]{
			$num : $space * $i;
			margin-bottom: $num+px;
		}
	}
}

.shadow{
	@include vendorize(box-shadow,0 8px 6px -6px #ccc);
}

.Back{
	background-color: black;
}

.pointer{
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.clearfix:after {
   content: ".";
   display: block;
   clear: both;
   visibility: hidden;
   line-height: 0;
   height: 0;
}

.clearfix {
   // display: inline-block;
}

.line {
	border: none;
	color: #333;
	background: transparent;
	border-bottom: 1px solid #999;
	padding: 5px 2px 0 2px;
	&:focus{
  		outline: none;
		border: none;
		box-shadow: none ;
		box-shadow: 0 2px 1px -1px $palette_1_3;
		border-bottom: 1px solid $palette_2_3;
  		border-color: #51CBEE;
	}
}

.footer{
	background: $Footer_BG;
	padding-top:10px;
}

.footer a :link {text-decoration:none !important;}
.footer a :visited {text-decoration:none !important;}
.footer a :hover {text-decoration:none !important;}
.footer a :active {text-decoration:none !important;}

.footer ul li {
	list-style-type: none;
}

.menuBack{
	width: 100%;
	height: 100%;
	background-color: #333;
	position: fixed;
	bottom: 0;
	z-index: 7;
	opacity: 0;
	display: none;
	zoom: 2;
}

.background-top{
	margin: 0px;
	padding: 25px;
	border-radius:5px;
	color: #fff;
	background: #333;
	height: 50%;
	width: 96%;
	position: absolute;
	z-index: -20;
	top: 0px;
	opacity: .2;

	-moz-box-shadow: 0px 0px 18px #333;
	-webkit-box-shadow: 0px 0px 18px #333;
	box-shadow: 0px 0px 18px #333;
}

.bottom-bar {
	background: #141414;
	/*border-bottom: 2px solid #0fa1e0;*/
	position: fixed;
	z-index: 9;
	width: 100%;
	height: 30px;
	bottom: 0px;
	padding-top: 10px;
}


.break-a{
	max-width:100%;
	height: 21px;
	background: url("../img/break-a.png") no-repeat 100%;
	background-position: center; 
	margin: 0 auto;
}

.break-b{
	max-width:100%;
	height: 21px;
	background: url("../img/break-b.png") no-repeat 100%;
	margin: 0 auto;
}
