@import '_mixins';
@import '_colors';

.switch {
  cursor: pointer;
  position: relative;
  display: inline-block;  
  padding: 0 1.25rem;
  border-radius: 4px;
  border: 1px solid #a5a8a8;
  overflow: hidden;
  width: 5rem;

  z-index: 0;
  

  @include vendorize(box-sizing,border-box);

  // -webkit-box-sizing: border-box;
  // -moz-box-sizing: border-box;
  // -ms-box-sizing: border-box;
  // box-sizing: border-box;

}

.switch__input {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: 0;
  padding: 0;
  border: 0;

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0.1)";
  filter: alpha(opacity=0.1);
  opacity: 0.001;
}

.switch__toggle {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  cursor: default;


  @include vendorize(box-sizing,border-box);
  @include vendorize(background-clip,padding-box);
  @include vendorize(user-select,none);
  @include vendorize(text-overflow,ellipsis);

  // -webkit-box-sizing: border-box;
  // -moz-box-sizing: border-box;
  // -ms-box-sizing: border-box;
  // box-sizing: border-box;

  // -webkit-background-clip: padding-box;
  // -moz-background-clip: padding-box;
  // background-clip: padding-box;

  // -webkit-user-select: none;
  // -moz-user-select: none;
  // -ms-user-select: none;
  // user-select: none;

  // -o-text-overflow: ellipsis;
  // -ms-text-overflow: ellipsis;
  // text-overflow: ellipsis;
  white-space: nowrap;
}

.switch__toggle {
  cursor: pointer;
  line-height: 3rem;
  height: 2rem;
  width: 1.5rem;
  border-radius: 4px;
  color: #454545;
  text-shadow: 0 1px #fff;
  background-color: #e5e9e8;  
  border: 1px solid #a5a8a8;
  margin-left: -1.3rem;
  margin-bottom:-1px;
  margin-top:-1px;

  -webkit-box-shadow: inset 0 1px #fff;
  box-shadow: inset 0 1px #fff;


  @include vendorize(transition,margin-left 0.05s ease-in-out);
  
  // -webkit-transition: margin-left 0.05s ease-in-out;
  // -moz-transition: margin-left 0.05s ease-in-out;
  // -o-transition: margin-left 0.05s ease-in-out;
  // -ms-transition: margin-left 0.05s ease-in-out;
  // transition: margin-left 0.05s ease-in-out;
}

.switch__input:checked + .switch__toggle {
  margin-left: 2.2rem;
}

.switch__toggle:before,
.switch__toggle:after {
  position: absolute;
  
  width: 5rem;
  z-index: -1;

  @include vendorize(box-sizing,border-box);
 
  // -webkit-box-sizing: border-box;
  // -moz-box-sizing: border-box;
  // -ms-box-sizing: border-box;
  // box-sizing: border-box;
}

.switch__toggle:before {
  content: 'ON';
  color: #0083e8;
  background-color: #e0f0fa;
  border-radius: 0;
  top: -8px;
  right: .6rem;
  padding-left: 1.5rem;
}

.switch__toggle:after {
  content: 'OFF';
  background-color: #d3d7d7;
  top: -8px;
  left: .6rem;
  padding-left: 1.5rem;
}